.auth-section {
  min-height: 100vh !important;
  padding: 150px 0;
}
.auth-card {
  /* margin: auto; */
  width: 80%;
  border-radius: 20px;
  font-family: Montserrat, sans-serif !important;
}
.auth-left {
  margin: auto;
}

.auth-left-img {
  margin: auto;
  position: fixed;
  /* position: absolute; */
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
}

@media (max-width: 450px) {
  .auth-card {
    width: 100%;
    margin: auto;
  }
  .card-body {
    padding: 0px !important;
  }
  .title {
    font-size: medium;
  }
  label {
    font-size: 10px !important;
  }

  .form-control {
    padding: 0px !important;
  }
}
@media (min-width: 765px) and (max-width: 992px) {
  .auth-card {
    width: 80%;
    margin: auto;
  }
  .card-body {
    padding: 0px !important;
  }
  .mob-none {
    display: none;
  }
}

@media (min-width: 1200px) {
  .auth-card {
    width: 70%;
  }
}
@media (min-width: 450px) and (max-width: 766px) {
  .auth-card {
    width: 100%;
    margin: auto !important;
  }
  .auth-left-img {
    display: none;
  }
  .title {
    font-size: medium;
  }
  label {
    font-size: 8px !important;
  }
  .mob-none {
    display: none;
  }
  .form-control {
    padding: 3px !important;
  }
}
/*
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #20bf55 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(32 191 85 / 25%);
} */

.bs-in {
  border: none;
  font-size: small !important;
  padding: 0.375rem 0.05rem;
}
.bs-in:focus {
  border: none;
}
.form-control::placeholder {
  /* border: none; */
  font-size: small !important;
}

i {
  font-size: x-small;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .auth-section {
    padding-top: 50px;
  }
}
