<header class="container-fluid">
  <div class="row">
    <div class="nav-section">
      <div class="nav-logo-div">
        <a routerLink="/dsa/dashboard">
          <img
            src="../../../assets/img/logo-nav.svg"
            alt="logo"
            class="nav-logo"
          />
        </a>
      </div>

      <div class="nav-button-div" (click)="logout2()">
        <button class="nav-btn">Log Out</button>
      </div>

      <!-- <div class="hamburger-menu" (click)="hamToggle()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div> -->
    </div>
  </div>
</header>
