<section class="bg-section container">
  <div class="row auth-section">
    <div class="col-lg-5 col-md-12 col-sm-12" align="center">
      <div class="auth-left">
        <div class="mob-none">
          <img
            class="auth-left-img"
            src="../../../../assets/img/logo.svg"
            alt=""
            width="200px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
      <div class="container">
        <div class="card auth-card" align="left" *ngIf="!otpSented">
          <div class="card-body p-5">
            <div class="container px-3 py-4">
              <h5 class="title">Forgot Password</h5>
              <p class="title-description mb-4">Enter Mail ID to continue</p>
              <!-- <h4 class="sub-title mb-4 mt-2">Login</h4>
               -->
              <form id="login-form" method="POST" [formGroup]="loginForm">
                <div class="form-input">
                  <input
                    id="name"
                    class="form-element-input lCase"
                    type="input"
                    formControlName="userName"
                    [maxLength]="35"
                    placeholder="Enter your Email ID"
                  />
                  <div class="form-element-bar"></div>
                  <label class="form-element-label" for="name">Email ID*</label>
                  <small
                    *ngIf="validateLogin('userName')"
                    class="form-element-hint"
                    >*Please enter valid Email ID.</small
                  >
                </div>
                <div align="center">
                  <a (click)="sendPassword()" class="btn btn-1">Sent OTP</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card auth-card" align="left" *ngIf="otpSented">
          <div class="card-body p-5">
            <div class="container px-4 py-4">
              <h5 class="title">Verify your identity</h5>
              <p class="title-description" *ngIf="!otpWhatsapp">
                Verification code sent to your Mail ID
                <span> {{ hideMail() }}</span>
              </p>
              <p class="title-description" *ngIf="otpWhatsapp">
                Verification code sent to your whatsapp number
                <span> {{ hideMobile() }}</span>
              </p>
              <!-- <label class="radio-title ms-1">OTP*</label> -->
              <form
                id="otp"
                [formGroup]="otpForm"
                autocomplete="off"
                class="inputs d-flex flex-row justify-content-center mt-2"
              >
                <input
                  #digitOne
                  formControlName="d1"
                  class="m-2 text-center form-control rounded"
                  type="text"
                  maxlength="1"
                  (keypress)="keyPressNumbers($event)"
                  (keyup)="keyPressNumbers($event) && onDigitInput($event)"
                />
                <input
                  #digitTwo
                  class="m-2 text-center form-control rounded"
                  type="text"
                  maxlength="1"
                  formControlName="d2"
                  (keypress)="keyPressNumbers($event)"
                  (keyup)="keyPressNumbers($event) && onDigitInput($event)"
                />
                <input
                  #digitThree
                  class="m-2 text-center form-control rounded"
                  type="text"
                  maxlength="1"
                  formControlName="d3"
                  (keypress)="keyPressNumbers($event)"
                  (keyup)="keyPressNumbers($event) && onDigitInput($event)"
                />
                <input
                  #digitFour
                  class="m-2 text-center form-control rounded"
                  type="text"
                  maxlength="1"
                  formControlName="d4"
                  (keypress)="keyPressNumbers($event)"
                  (keyup)="keyPressNumbers($event) && onDigitInput($event)"
                />
                <input
                  #digitFive
                  class="m-2 text-center form-control rounded"
                  type="text"
                  maxlength="1"
                  formControlName="d5"
                  (keypress)="keyPressNumbers($event)"
                  (keyup)="keyPressNumbers($event) && onDigitInput($event)"
                />
                <input
                  #digitSix
                  class="m-2 text-center form-control rounded"
                  type="text"
                  maxlength="1"
                  formControlName="d6"
                  (keypress)="keyPressNumbers($event)"
                  (keyup)="keyPressNumbers($event) && onDigitInput($event)"
                />
              </form>
              <label
                for="name"
                class="form-element-hint"
                *ngIf="otpForm.invalid && isChecked"
                >*Please enter valid otp code</label
              >
              <form [formGroup]="passwordForm">
                <div class="form-input mt-5">
                  <input
                    id="password"
                    class="form-element-input"
                    type="{{ showPassword ? 'text' : 'password' }}"
                    formControlName="password"
                    autocomplete="off"
                    [maxLength]="20"
                    placeholder="Enter your Password"
                    required
                  />
                  <span
                    toggle="#password-field"
                    (click)="togglePassword()"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                  <div class="form-element-bar"></div>
                  <label class="form-element-label" for="name">Password*</label>
                  <small
                    *ngIf="validatePassword('password')"
                    class="form-element-hint"
                    >*Your password must contain atleast (1 upper case, 1
                    numeric, 1 special character and lower cases) and the length
                    should be minimum 8</small
                  >
                </div>
                <div class="form-input">
                  <input
                    id="password"
                    class="form-element-input"
                    type="{{ showPassword ? 'text' : 'password' }}"
                    formControlName="cPassword"
                    autocomplete="off"
                    [maxLength]="20"
                    placeholder="Enter your Password"
                    required
                  />
                  <span
                    toggle="#password-field"
                    (click)="togglePassword()"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                  <div class="form-element-bar"></div>
                  <label class="form-element-label" for="name"
                    >Confirm Password*</label
                  >
                  <small
                    *ngIf="validatePassword('cPassword')"
                    class="form-element-hint"
                    >*Confirm password must match with password</small
                  >
                </div>
              </form>

              <div class="my-3" align="center">
                <p class="title-description">
                  Didn't received your code?
                  <span (click)="resentOtp()"> Resend OTP</span>
                </p>
                <!-- <p class="title-description mt-2" *ngIf="!otpWhatsapp">
                  Receive code on
                  <span (click)="resentOtpW()"> Whatsapp</span>
                </p> -->
                <!-- <p class="title-description mt-2" *ngIf="otpWhatsapp">
                  Receive code on
                  <span (click)="resentOtpW()"> Mobile Number</span>
                </p> -->
              </div>

              <div align="center">
                <a (click)="validateOTP()" class="btn btn-1">Verify OTP</a>
                <p class="title-description mt-2">
                  <small>Your OTP will expire in 5 minutes</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
