.step-card-section {
  position: absolute;
  left: 2%;
}

.step-card {
  top: 100px;
  border-radius: 18px !important;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 18px 1px;
  width: 290px !important;
  left: 2%;
}
.title-img {
  max-width: 50px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.title-p {
  margin-top: 0%;
  margin-bottom: 0%;
}
.title-card {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.step-content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.step-content-1 {
  width: 40px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-circle-line {
  width: 42px;
  height: 42px;
  border: 2px solid #20bf55;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.step-circle-number-enable {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #20bf55;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.step-card-h6-enable {
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
}

.step-circle-number-disable {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.step-card-h6-disable {
  color: #868686;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
}

.step-card-icon-div {
  /* display: none; */
}

.step-card-icon {
  color: #20bf55;
  font-size: 25px;
}

.step-vertical-line {
  width: 5px;
  height: 40px;
  background-color: #f5fbf6;
}

.step-vertical-line-checked {
  width: 5px;
  height: 40px;
  background-color: #20bf55;
}

.step-inner-div {
  width: 190px;
  /* width: auto; */
  margin-top: -3px;
  height: auto;
}

.step-inner-p-checked {
  margin-bottom: 0px;
  margin-top: 7px;
  font-size: x-small;
  color: #20bf55 !important;
  font-weight: 500;
}

.step-inner-p {
  margin-bottom: 0px;
  margin-top: 7px;
  font-size: x-small;
  color: #c4c3c3;
  font-weight: 500;
}

.step-inner-h5 {
  font-size: small;
  font-weight: 600;
  color: #868686;
}

.step-inner-big-h5 {
  font-size: 13px;
  font-weight: 600;
  color: #868686;
}
