.card-img-top {
  height: 180px !important;
  /* max-height: fi !important; */
}

.card p {
  color: #333;
  font-family: Poppins;
  font-size: 12px !important;
  font-weight: 600;
  text-align: justify;
}

.card-body {
  padding-bottom: 0px !important;
}
.card-footer {
  background-color: white;
  border: none;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.badge {
  border-radius: 6px !important;
  /* padding: 0.3rem  !important; */
  background-color: #ffb300 !important;
}

.text-dark {
  color: #333 !important;
  font-size: 10px !important;
  font-weight: 500 !important;
}
