<app-side-nav> </app-side-nav>
<section class="side-nav-div mb-5">
  <h5 class="page-crump mb-4 ms-5">Contact</h5>
  <div class="container mx-lg-0 mx-auto">
    <div class="row justify-content-start row-flex">
      <!-- <div class="col-12 col-lg-5">
        <div class="card p-3 my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-2">
                <img
                  src="
                ../../../../../../assets/img/Contact Us/Telephone.svg"
                  alt=""
                  width="40px"
                />
              </div>
              <div class="col-12 col-sm-10">
                <span
                  ><b>Phone :</b
                  ><a href="tel:1700-305-7988" target="_blank">
                    1700-305-7988</a
                  >
                </span>
                <br /><br />
                <span>
                  Lines are open Mon-Sat from <br />
                  9:30 am – 6:30 pm
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-12 col-xl-6 p-3">
        <div class="card p-3 me-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-2 pe-2">
                <img
                  src="
                  ../../../../../../assets/img/Contact Us/Telephone.svg"
                  alt=""
                  width="40px"
                />
              </div>
              <div class="col-12 col-md-10">
                <span
                  ><b>Phone :</b
                  ><a href="tel:1700-305-7988" target="_blank">
                    1700-305-7988</a
                  >
                </span>
                <br /><br />
                <span>
                  Lines are open Mon-Sat from <br />
                  9:30 am – 6:30 pm </span
                ><br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- old -->
      <div class="col-12 col-xl-6 p-3">
        <div class="card p-3 my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-2">
                <img
                  src="
                ../../../../../../assets/img/Contact Us/Email.svg"
                  alt=""
                  width="40px"
                />
              </div>
              <div class="col-12 col-sm-10">
                <span
                  ><b>Email :</b
                  ><a href="mailto:creditreport@cbazaar.com" target="_blank">
                    creditreport@cbazaar.com</a
                  >
                </span>
                <br /><br />
                <span> Email to us related to your Credit Report </span><br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 p-3 mt-xl-4">
        <div class="card p-3 my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-2">
                <img
                  src="
                ../../../../../../assets/img/Contact Us/WhatsApp.svg"
                  alt=""
                  width="40px"
                />
              </div>
              <div class="col-12 col-sm-10">
                <span
                  ><b>WhatsApp : </b
                  ><a href="https://wa.me/1234567890" target="_blank">
                    +91 123 456 7890</a
                  >
                </span>
                <br /><br />
                <span> You can even reach out to us via WhatsApp. </span><br />
                &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-xl-6 p-3 mt-xl-4">
        <div class="card p-3 my-3">
          <div class="card-body">
            <div class="row">
              <!-- <div class="col-12 col-sm-2">
                <img
                  src="
                ../../../../../../assets/img/Contact Us/WhatsApp.svg"
                  alt=""
                  width="40px"
                />
              </div> -->
              <div class="col-12 col-sm-10">
                <span><b>Version : </b> </span>
                <br /><br />
                <span> The version of the App is : <b>0.0.1</b> </span><br />
                &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
