.title {
  font-family: Montserrat;
  font-size: large;
  font-weight: bold;
  line-height: 0.63;
  text-align: center;
  color: #868686;
}

.preview-container {
  margin: 10px 1%;
}

.label-text {
  font-size: small;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #868686;
  margin-bottom: 0;
}

.label-sub-text {
  margin-bottom: 0px;
  font-size: x-small;
  font-weight: 600;
  line-height: 1.71;
  text-align: left;
  color: #20bf55;
}

.preview-title {
  font-size: medium;
  font-weight: bold;
  line-height: 1.21;
  text-align: left;
  color: #20bf55;
}

.sub-title {
  font-size: medium;
  font-weight: bold;
  line-height: 1.45;
  color: #868686;
}

.key {
  font-size: medium;
  font-weight: 700;
  line-height: 1.61;
  letter-spacing: 0.6px;
  color: #868686;
}

.value {
  font-size: medium;
  font-weight: 700;
  line-height: 1.61;
  color: #333;
  opacity: 0.96;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #7070709c !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
  width: 6px;
  height: 13px;
  border: solid #20bf55;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.file-div {
  /* width: fit-content; */
  min-width: 80%;
  height: 68px;
  cursor: pointer;
  margin: 12px 0 0;
  padding: 10px 10px;
  border-radius: 8px;
  border: solid 1px #c3c3c3;
  background-color: #fefffe;
}

.file-div p {
  margin-bottom: 0;
}

.file-div:hover {
  transform: scale(0.96);
  cursor: pointer;
}

.file-div {
  width: 70%;
  border-radius: 18px;
  border: solid 1px #707070;
  min-height: 130px;
  padding: 10px 20px;
  border-style: dashed;
}
.upload-btn {
  padding: 6px 20px;
  border-radius: 18px;
  box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #868686 !important;
  /* color: #333 !important; */
  font-weight: 700;
  font-size: small;
  max-width: 130px;
}

.upload-btn:hover {
  transform: scale(0.96);
  /* letter-spacing: 0.7px; */
  font-weight: 700;
}
.drag-div {
  width: 40%;
  /* padding: -30px;
  background-color: #20bf5525; */
}

.or-div {
  width: 10%;
}
.upload-div {
  width: 40%;
}

@media (max-width: 767px) {
  /* .upload-div {
    width: 100%;
  }
  .or-div {
    display: none;
  }
  .drag-div {
    display: none;
  } */
  .file-div {
    width: 100%;
  }
  .upload-btn {
    font-size: x-small;
  }
}

.drag-zone {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid rgba(204, 204, 204, 0.5); */
  display: block;
  cursor: pointer;
}

/* .drag-zone.dragging {
  background-color: #f2fff7;
} */

.drag-zone.dragging {
  transform: scale(1.15);
}

.drag-zone:focus-within {
  border: 1px solid #f2fff7;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.form-sub-title {
  text-align: unset !important;
  font-size: medium;
}
